.login {
  font-family: monospace;
  font-size: 2.3vh;
  margin: auto;
  width: 80vw;
  height: 40vh;
  background-color: gold;
  border: 3px solid black;
  border-radius: 2vh;
  padding: 4vh;
  margin-top: 3vh;
}

.login-parent {
  padding-top: 10vh;
}

.app {
  font-family: monospace;
  background-color: #b983ff;
  width: 100vw;
  height: 100vh;
}

.homepage {
  font-family: monospace;
  padding-top: 10%;
  text-align: center;
  background-color: #b983ff;
  padding-bottom: 3vh;
}

.leader-board {
  display: inline-block;
  align-items: center;
}
.leader-item {
  background-color: gold;
  width: 70vw;
  margin: 0.5vh;
  border-radius: 0.5vh;
  padding: 1vh;
}

.profile-block {
  padding: 2vh;
}

.player-username {
  border-top: 0.2vh solid gold;
  border-bottom: 0.2vh solid gold;
  padding: 1vh;
}

.player-info {
  border-bottom: 0.2vh solid gold;
  text-align: left;
  padding-left: 10vw;
}

.login-title {
  color: gold;
  font-size: 4.5vh;
  text-align: center;
  border-top: 0.2vh solid gold;
  border-bottom: 0.2vh solid gold;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.login-instructions {
  font-size: 1.8vh;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  margin-top: 2vh;
}

.personal-info {
  margin-top: 5vh;
  text-align: center;
  font-size: 2vh;
  color: gold;
  border-top: 0.2vh solid gold;
  border-bottom: 0.2vh solid gold;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.personal-links {
  display: flex;
  justify-content: space-evenly;
}
